{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="main">
        <!-- filter form; select multiple dynamic-->
        <form method="POST">
            <fieldset class="form-group">
                <legend>Search For:</legend>   
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.role }}
                        {{ form.skill }}
                        {{ form.submit(class="btn btn-primary btn-sm") }}
                    </div>       
            </fieldset>
        </form>

        <!-- if no search, show all users -->
        <!-- <h2>All Users</h2> -->
        <!-- show posts -->
        {% for user in users %}
            <div class="card w-75">
                <div class="card-body user-card">
                    <div class="left">
                        <img class="rounded-circle small-image" src="{{ url_for('static', filename='profile_pictures/' + user.image) }}">
                    </div>
                    <div class="middle center">
                        <div class="centered">
                            <p class="card-text"><a href="{{ url_for('profile', username = user.username) }}">{{ user.username }}</a></p>
                            <!-- role info -->
                        </div>
                    </div> 
                    <div class="right center">
                        <div class="centered">
                            <a class="btn btn-primary btn-sm" href="{{ url_for('new_post', username = user.username) }}">MESSAGE</a>
                        </div>       
                    </div>   
                </div>
            </div>           
        {% endfor %}
    </div>
{% endblock content %}
