{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="padded-container">

       



        <div class="card w-75">
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend>{{ legend }}</legend>   
                        <div class="form-group">
                            {{ form.title.label(class="form-control-label") }}
                            {{ form.title(class="form-control", autocomplete='off') }}
                        </div>
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label") }}
                            {{ form.content(class="form-control") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary btn-sm") }}
                    </div>
                </form>
            </div>
        </div>



    </div>
{% endblock content %}
