{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="main">

        {% if not user %}
            <section id="homepage-hero-image">
                <div class="hero-image">
                    <img alt="People working together" src="https://i.imgur.com/rcnm67J.jpg">
                </div>
            </section>
            <section id="about">
                <div class="padded-container about-container">
                    <h1 class="about-header">Meet Professionals and Budding Developers</h1>
                    <h3>How it works</h3>
                    <p>Just sign up, fill your profile, and start networking!</p>
                </div>
            </section>
        {% endif %}

        {% if user %}
            <div class="flex-container">
                <div class="card text-center flex-children" style="width: 18rem;">
                    <div class="card-body home-profile-card">
                        <div>
                            <img class="rounded-circle large-image" src="{{ url_for('static', filename='profile_pictures/' + user.image) }}">
                        </div>

                        <div>
                            <h3 class="card-text">{{ user.username }}</h3>
                            {% for role in user.roles %}
                                <p>
                                    <span>{{ role.name }}:</span>
                                    {% for skill in role.skills %}
                                        <span>{{ skill.name }}</span>
                                    {% endfor %}
                                    <!-- add comma after multiple roles? -->
                            {% endfor %}
                        </div> 

                        <div class="card-footer bg-transparent">
                            <a class="btn btn-primary btn-sm profile-btn" href="{{ url_for('profile', username = user.username) }}">PROFILE</a>  
                        </div>  
                        
                    </div>
                </div>
                {% if posts %}
                    <div class="messages flex-children">
                        <h2>Messages</h2>
                        <!-- show posts -->
                        {% for post in posts %}
                            <div class="card w-75">
                                <div class="card-body message-card">
                                    <div class="left">
                                        <img class="rounded-circle small-image" src="{{ url_for('static', filename='profile_pictures/' + post.author.image) }}">
                                    </div>
                                    <div class="right center">
                                        <div class="centered">
                                            <h5 class="card-title"><a href="{{ url_for('post', id=post.id) }}">subject: {{ post.title }}</a></h5>
                                            <p class="card-text">from <a href="{{ url_for('profile', username = post.author.username) }}">{{ post.author.username }}</a></p>
                                        </div>
                                    
                                    </div>  
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}           
        <!-- <h1>Forum</h1> -->
    </div>
{% endblock content %}
