{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="main">
        <h2>Matches</h2>
        {% for user in matches %}
            <div class="card w-75">
                <div class="card-body user-card">
                    <div class="left">
                        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pictures/' + user.image) }}">
                    </div>
                    <div class="middle center">
                        <div class="centered">
                            <p class="card-text"><a href="{{ url_for('profile', username = user.username) }}">{{ user.username }}</a></p>
                            <!-- role info -->
                        </div>
                    </div> 
                    <div class="right center">
                        <div class="centered">
                            <a class="btn btn-primary btn-sm" href="{{ url_for('new_post', username = user.username) }}">MESSAGE</a>
                        </div>       
                    </div>   
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
