{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="main">
        <div class="content-section">
            <img class="rounded-circle" src="{{ user.image }}">
            <h2>{{ user.username }}</h2>
            {% for role in user.roles %}
            <p>
                <span>{{ role.name }}:</span> 
                {% for skill in role.skills %}
                    <span>{{ skill.name }}</span>
                {% endfor %}
                <!-- add comma after multiple roles? -->
            </p>
                
            {% endfor %}
            <p class="text-secondary">{{ user.email }}</p>
            <a href="{{ url_for('new_post', username = user.username) }}">Send message</a>
        </div>
    </div>
{% endblock content %}