{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="content-section">
        <!-- image_file not working (externally hosted image works) -->
        <img class="rounded-circle" src="{{ image_file }}">
        <h2>{{ user.username }}</h2>
        {% for role in user.roles %}
            <span>{{ role.name }}</span>
        {% endfor %}
        <p class="text-secondary">{{ user.email }}</p>
        <a href="{{ url_for('new_post', username = user.username) }}">Send message</a>
    </div>
{% endblock content %}