{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="main">
        <!-- <h1>Register</h1> -->
        <div>
            <form method="POST" action="{{ url_for('register') }}">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>Sign up</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control") }}
                        {% endif %}
                        
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}

                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}

                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
        <div>
            <span>Sign up with:</span> 
            <a href="{{ url_for('github.login') }}" class="btn btn-outline-info btn-sm">GitHub</a>
            <a href="{{ url_for('google.login') }}" class="btn btn-outline-info btn-sm">Google</a>
            <br>
            <small class="text-muted">
                Already have an account? <a href="{{ url_for('login') }}">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}
